body{
  font-family: cursive;
}
h1 {
  position: relative;
  top: -31px;
  text-align: center;
  background-color: #4CA4DB;
  padding: 50px 20px 70px 20px;
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-size: 2.8rem;
}

#buttons {
  height: 180px;
  background-color: #4CA4DB;
  position: relative;
  top: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 400px) {
  #buttons {
    top: 250px;
  }
}
@media screen and (max-height: 700px) {
  #buttons {
    top: 300px;
  }
}
.signin {
  font-size: 1.58rem;
  padding: 5px 20px 5px 20px;
  background: #160A5B;
  color: white;
  border-radius: 20px;
  margin-right: 20px;
  
}
.signin:focus {
  outline:none;
}
.signup:focus {
  outline:none;
}
.signup {
  margin-left: 20px;
  font-size: 1.58rem;
  padding: 5px 20px 5px 20px;
  background: #160A5B;
  color: white;
  border-radius: 20px;
}
#viewbox {
  position: relative;
  top: 200px;
}
svg{
  width: 40%;
  overflow: visible;
  max-width: 350px;
  margin: 0 auto;
  display: block;
}
.right_boy{
  opacity: 0;
  transform: translatex(45%);
  animation: real-man 1.5s ease-in-out forwards; 
}
#Right_boy_hand{
  transform: rotate(-22deg);
  transform-origin: 100% 0%;
  animation: real-man 1s ease-in-out forwards 1.4s;
}
#bag{
  transform: rotate(-8deg);
  transform-origin: 82% 53%;
  animation: real-man 2.5s ease-in-out infinite alternate;
}

.left_boy{
  opacity: 0;
  transform: translatex(-45%);
  animation: real-man 1.5s ease-in-out forwards;
}
#left_boy_hand{
  transform: rotate(35deg);
  transform-origin: 5% 25%;
  animation: real-man 1s ease-in-out forwards 1.4s;
}
#Left_boy_bag{
  transform: rotate(8deg);
  transform-origin: 0% 50%;
  animation: real-man 2.5s ease-in-out infinite alternate;
}


@keyframes real-man{
  to{
    opacity: 1;
    transform: translate(0);
  }
}    
    .path9 {fill:black;fill-rule:nonzero}
    .path15 {fill:#100743;fill-rule:nonzero}
    .path0 {fill:#160A5B;fill-rule:nonzero}
    .path3 {fill:#25136B;fill-rule:nonzero}
    .path6 {fill:#300901;fill-rule:nonzero}
    .path7 {fill:#433A9B;fill-rule:nonzero}
    .path8 {fill:#44DADF;fill-rule:nonzero}
    .path13 {fill:#453C9E;fill-rule:nonzero}
    .path16 {fill:#473A7A;fill-rule:nonzero}
    .path14 {fill:#4CA4DB;fill-rule:nonzero}
    .path5 {fill:black;fill-rule:nonzero}
    .path10 {fill:#6760AE;fill-rule:nonzero}
    .path11 {Fill:#8EAFC1;fill-rule:nonzero}
    .path2 {fill:#D8D8D8;fill-rule:nonzero}
    .path4 {fill:#DDAC9E;fill-rule:nonzero}
    .path1 {fill:#E8C8BA;fill-rule:nonzero}
    .path12 {fill:white;fill-rule:nonzero}